.nav{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 1;
  /*Animations*/transition-timing-function: ease-in;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.nav__black{
  background-color: #111;
  height: 50px;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: fixed;
  top: -10px;
  left: 0;
  width: 120px;
  object-fit: contain;
  margin-left: 20px;
  cursor: pointer;
}

.nav__avatar {
  top: 10px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  width: 30px;
  height: 30px;
}


